@mixin box-theme($theme) {
  $primary: map-get(
    $map: $theme,
    $key: primary,
  );
  $warn: map-get(
    $map: $theme,
    $key: warn,
  );
  $background: map-get(
    $map: $theme,
    $key: background,
  );

  .box {
    width: 300px;
    height: 150px;
    background-color: $background;
  }
}

.secondary-box {
  width: 100px;
  height: 100px;
  color: blue;
}
